@model List<Product> // Assuming you have a Product model

@{
    ViewData["Title"] = "Skelbimų puslapis";
}

@* <form asp-controller="Category" asp-action="SearchByCategory" method="get">
    <div class="form-group">
        <select name="category" class="form-control" style="width: 300px;" asp-items="ViewBag.Categories">
            <option value="">Pasirinkite kategoriją</option>
            @foreach (var category in Enum.GetValues(typeof(Category)))
            {
                <option value="@category">@category</option>
            }
        </select>
        <input type="hidden" name="selectedCategory" id="selectedCategory" />
    </div>
    <button type="submit" class="btn btn-primary">Rodyti skelbimus</button>
</form> *@
@* <form asp-controller="Category" asp-action="SearchByCategory" method="get">
    <div class="form-group">
        <select name="selectedCategory" class="form-control" style="width: 300px;" asp-items="ViewBag.Categories">
            <option value="">Pasirinkite kategoriją</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Rodyti skelbimus</button>
</form> *@




<div class="text-center">
    <h1 class="display-4">Visi skelbimai</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">Kaina: $@product.Price</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-primary">Peržiūrėti.</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
