@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elektroninė skelbimų sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Elektroninė skelbimų sistema</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item me-4">
                            <form id="searchForm" class="form-inline" asp-controller="Product" asp-action="Filter" method="get">
                                <div class="input-group">
                                    <input id="searchInput" name="searchString" type="text" class="form-control" placeholder="Ieškoti prekės..."
                                           aria-label="Search" aria-describedby="searchButton">
                                    <div class="input-group-append">
                                        <button id="submitSearch" class="btn btn-outline-success" type="submit">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>

                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person"></i> @User.FindFirstValue(ClaimTypes.Email)
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" asp-controller="User" asp-action="Details" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                            <i class="bi bi-person-badge"></i> Paskyra
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Wish" asp-action="Create">
                                            <i class="bi bi-plus"></i> Sukurti norą
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Wish" asp-action="WishListPage">
                                            <i class="bi bi-list"></i> Norų sąrašas
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Wish" asp-action="OpenSuggestedProductsPage">
                                            <i class="bi bi-film"></i> Siūlomi skelbimai
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Product" asp-action="Create">
                                            <i class="bi bi-pencil"></i> Sukurti skelbimą
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Product" asp-action="ViewInventory">
                                            <i class="bi bi-box"></i> Inventorius
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                                                <i class="bi bi-wrench"></i> Administracija
                                            </a>
                                        </li>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <form method="post" asp-controller="User" asp-action="SubmitLogout">
                                        <button type="submit" class="dropdown-item">
                                            <i class="bi bi-box-arrow-right"></i> Atsijungti
                                        </button>
                                    </form>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="Login">
                                    <i class="bi bi-person-check"></i> Prisijungti
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-action="Registration">
                                    <i class="bi bi-person-plus"></i> Registruotis
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        @{
            Dictionary<Category, string> categoryTranslations = new Dictionary<Category, string>
        {
        { Category.Motherboard, "Pagrindinė plokštė" },
        { Category.CPU, "Procesorius" },
        { Category.GPU, "Vaizdo plokštė" },
        { Category.RAM, "Darbinė atmintis" },
        { Category.Storage, "Kietieji diskai" },
        { Category.PSU, "Maitinimo blokas" },
        { Category.Case, "Korpusas" },
        { Category.Cooling, "Vėsinimas" },
        { Category.Peripherals, "Išoriniai įrenginiai" },
        { Category.Other, "Kiti" }
        };
        }

        @if (ViewContext.RouteData.Values["Action"].ToString().Equals("Index", StringComparison.OrdinalIgnoreCase))
        {
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="form-inline w-100">
                    <div class="btn-group d-flex w-100" role="group" aria-label="Kategorijos">
                        <!-- Pridėjome d-flex -->
                        @foreach (var category in Enum.GetValues(typeof(Category)))
                        {
                            <form asp-controller="Product" asp-action="CategorySearch" method="get" class="mr-2 flex-fill">
                                <!-- Pridėjome flex-fill -->
                                <input type="hidden" name="selectedCategory" value="@category" />
                                <button type="submit" class="btn btn-primary btn-lg w-100">@categoryTranslations[(Category)category]</button> <!-- Pridėjome w-100 -->
                            </form>
                        }
                    </div>
                </div>
            </nav>



        }


    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="alert alert-success" id="successAlert" role="alert" style="display:none; position: fixed; top: 1rem; right: 1rem; z-index: 1050;"></div>
            <div class="alert alert-danger" id="errorAlert" role="alert" style="display:none; position: fixed; top: 1rem; right: 1rem; z-index: 1050;"></div>

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-center">
            &copy; 2024- Elektroninė skelbimų sistema
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            function showNotification(message, isSuccess) {
                var alertType = isSuccess ? $('#successAlert') : $('#errorAlert');
                alertType.text(message).slideDown();

                setTimeout(function () {
                    alertType.slideUp();
                }, 5000);
            }

            var successMessage = '@Html.Raw(TempData["SuccessMessage"] ?? "")';
            var errorMessage = '@Html.Raw(TempData["ErrorMessage"] ?? "")';

            if (successMessage) {
                showNotification(successMessage, true);
            }
            if (errorMessage) {
                showNotification(errorMessage, false);
            }
        });
    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
