@{
    ViewData["Title"] = "Administracijos skelbimų sąrašas";
}

@model List<Skelbimu_sistema.Models.Product>

<div class="card justify-content-center m-5 p-4">
    <h1 class="text-center">Skelbimai</h1>
    <p class="text-center">Sistemos skelbimų sąrašas.</p>
    <div class="row px-3 mb-2">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Products">Valyti filtrus</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="bg-primary text-white">
            <tr>
                <th>Id</th>
                <th>Pavadinimas</th>
                <th>Pardavėjas</th>
                <th>Būsena</th>
                <th><a class="text-white" asp-controller="Admin" asp-action="Products" asp-route-filter="suspended">Suspendavimo būsena</a></th>
                <th><a class="text-white" asp-controller="Admin" asp-action="Products" asp-route-filter="reported">Perspėjimų skaičius</a></th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.User.Email</td>
                    @switch (product.State)
                    {
                        case ProductState.Active:
                            <td>Aktyvus</td>
                            break;
                        case ProductState.Reserved:
                            <td>Rezervuotas</td>
                            break;
                        case ProductState.Closed:
                            <td>Uždarytas</td>
                            break;
                        case ProductState.Suspended:
                            <td>Suspenduotas</td>
                            break;
                        default:
                            <td></td>
                            break;
                    }
                    <td>@(product.State == ProductState.Suspended ? "Suspenduotas, " + (product.Suspension!.Reviewed ? "peržiūrėtas" : "neperžiūrėtas") : "Nesuspenduotas")</td>
                    <td>@product.Reports.Count</td>
                    <td>
                        <a asp-controller="User" asp-action="Details" asp-route-userId="@product.UserId" title="Peržiūrėti pardavėjo paskyrą"><i class="bi bi-file-person-fill"></i></a>
                        <a asp-controller="Admin" asp-action="ProductDetails" asp-route-productId="@product.Id" title="Peržiūrėti skelbimo administracinę informaciją"><i class="bi bi-file-richtext-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>