@{
    ViewData["Title"] = "Administracijos skelbimų sąrašas";
}

@model List<Skelbimu_sistema.ViewModels.ProductWithAdminInfo>

<div class="card justify-content-center m-5 p-4">
    <h1 class="text-center">Skelbimai</h1>
    <p class="text-center">Sistemos skelbimų sąrašas.</p>
    <div class="row px-3 mb-2">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Products">Valyti filtrus</a>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="bg-primary text-white">
            <tr>
                <th>Id</th>
                <th>Pavadinimas</th>
                <th>Pardavėjas</th>
                <th><a class="text-white" asp-controller="Admin" asp-action="Products" asp-route-filter="suspended">Suspenduotas</a></th>
                <th><a class="text-white" asp-controller="Admin" asp-action="Products" asp-route-filter="reported">Perspėjimų skaičius</a></th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model)
            {
                <tr>
                    <td>@info.Product.Id</td>
                    <td>@info.Product.Name</td>
                    <td>@info.Product.Seller.Email</td>
                    <td>@(info.Product.State == ProductState.Suspended ? "Taip" : "Ne")</td>
                    <td>@info.Reports.Count</td>
                    <td>
                        <a asp-controller="User" asp-action="Details" asp-route-id="@info.Product.Seller.Id" title="Peržiūrėti pardavėjo paskyrą"><i class="bi bi-file-person-fill"></i></a>
                        <a asp-controller="Admin" asp-action="ProductDetails" asp-route-productId="@info.Product.Id" title="Peržiūrėti skelbimo administracinę informaciją"><i class="bi bi-file-richtext-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>